@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.ApproveReceiverAccountApplicationModel
@{
    <head><title>Approved!</title></head>
    <body>
        <a asp-page="ManageReceiverAccountApplication">
            back
        </a>
        <p>@Model.message</p>

    </body>
}
