@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.Deliveries.DeleteModel


<form method="post">
    <input hidden asp-for="Delivery.DeliveryID" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Delivery Request</h2>
            <hr/>
        </div>
        <!--
        <div class="mb-3">
            Volunteer Name
            <select disabled asp-for="Delivery.VolunteerID"  asp-items="Model.VolunteerList" class="form-control">-
            </select>
        </div>-->
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryTime"></label>
            <input disabled asp-for="Delivery.DeliveryTime" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryStatus"></label>
            <select disabled class="form-control" asp-for="Delivery.DeliveryStatus" asp-items="Html.GetEnumSelectList<DeliveryStatus>()"></select>
        </div>
        <!--
        <div class="mb-3">
            Receiver Name
            <select  disabled id="receiverddl" asp-for="Delivery.ReceiverID" asp-items="Model.ReceiverList" class="form-control" >
            </select>
        </div>-->
        <button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
