@page
@model ZeroHunger.Pages.DryFoodDonationF.HistoryDonationModel
@{
}
<div class="col-9">
    <a style="font-size:large;color:grey;" asp-page="DryFoodIndex">Dry Food Donation</a>
    <h4>Donation History</h4>
</div>
<div class="col-12 border p-3 mt-3 ">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">

        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Delivery Method</th>
                <th>Pick Up Date</th>
                <th>Remark</th>
                
            </tr>
        </thead>

    </table>
</div>


@section Scripts{
    <script src="~/js/DryFoodHistory.js"></script>
}