@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.ApproveReceiverAccountApplicationModel
@{
    <head><title>Approved!</title></head>
    <body>
        <div class="col-3">
            <a asp-page="Index" class="btn btn-info">
                <i class="bi bi-arrow-bar-left"></i> &nbsp;Back To List
            </a>
        </div>
        <p>@Model.message</p>

    </body>
}
