@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.ReceiverAccountApplication.IndexModel
@{
    <head>
        <title>Manage Receiver Account Application</title>
        <!-- Mobile Specific Metas -->
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
    </head>
    <body >
    @if(null != TempData["alertMessage"])
               {
                  <script type="text/javascript">
                   alert('@TempData["alertMessage"]');
                  </script>
               }
    <div class="container row p-0 m-0">
        <div class="col-9">
            <h2>Receiver Account Application</h2>
        </div>
	<div class="col-3 text-right">
        	<button align="center" class="btn btn-danger" onclick="javascript:generatePDF();">Generate PDF</button>
    	</div>
        <div class="col-12 border p-3" id="printTable">
            <table id="DT_load" style="text-align:center; width:100%;" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>IC no</th>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Salary (RM)</th>
                        <th>No. of Family Member</th>
                        <th>Address</th>
                        <th>Application Status</th>
                        <th>Click for details</th>                        
                    </tr>
                </thead>
            </table>
            </div>
        </div>
        @section Scripts{
            <script src="~/js/RAAList.js"></script>
        }
    </body>
}
@functions
{
    public string getApplicationStatus(int statusID)
        {
            switch(statusID)
            {
                case 0:return "New!";
                case 1:return "Processing...";
                default:return null;
            }
        }
}
@section Scripts{
    <script>
        function generatePDF() {
                var pTable = document.getElementById('printTable').innerHTML;
                var win = window.open('', '', 'height=100%,width=100%');
                win.document.write('<html><head><title>Receiver Account Application Record</title>');
                win.document.write('<style> h2{text-align:center;} #printTable{margin-left:auto; margin-right:auto;} th,td{border: 1px solid black;} table,th,td{ border-collapse:collapse; margin:20px auto;} th:last-child,td:last-child{display:none; border:0;} td{text-align:center;}</style>');
                win.document.write('</head><body>');
                win.document.write('<h2>Receiver Account Application Record</h2>');
                win.document.write(pTable);
                win.document.write('</body></html>');
                win.document.close();
                win.print(); 
                setTimeout(function(){win.close()}, 500);  
        }
    </script>   
}

