@page
@model ZeroHunger.Pages.Deliveries.AddDeliveryItemModel


<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All" class="text-danger"></div> 
        <input hidden asp-for="DeliveryItem.DeliveryID" value="@Model.DeliveryId"/>
        <div class="mb-3">
        Delivery Item
        <select id="deliveryitem" asp-for="DeliveryItem.DryFoodID" asp-items="Model.DeliveryItemList" class="form-control" required>
            <!--<option>--Select Delivery Item--</option>-->
        </select>
        </div>
        <div class="mb-3">
            Quantity
            <input id="quantity" asp-for="DeliveryItem.Quantity" min="1" class="form-control" required />
        </div>
        <div class="col-9">
         <button type="submit" asp-route-id="@Model.DeliveryId" class="btn btn-primary form-control" style="width:180px;">Add Delivery Item</button>
        <a asp-page="DeliveryItem" class="btn btn-secondary form-control" style="width:150px;">Back to List</a> 
        </div>
     </div>
</form>

@section Scripts{
    <script src="~/js/DeliveryItem.js"></script>
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}


