@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.Deliveries.CreateModel


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Delivery Request</h2>
            <hr/>
        </div>
        <!--<div asp-validation-summary="All"></div>-->
        <div class="mb-3">
            <!--<label asp-for="Delivery.User.UserID"></label>-->
            Volunteer Name
            <select asp-for="Delivery.VolunteerID"  asp-items="Model.VolunteerList" class="form-control">-->
            <option>--Select the Volunteer--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryTime"></label>
            <input asp-for="Delivery.DeliveryTime" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryStatus"></label>
            <select class="form-control" asp-for="Delivery.DeliveryStatus" asp-items="Html.GetEnumSelectList<DeliveryStatus>()"></select>
        </div>
        <div class="mb-3">
            Receiver Name
            <select id="receiverddl" asp-for="Delivery.ReceiverID" asp-items="Model.ReceiverList" class="form-control" >
            <option>--Select the Receiever--</option>
            </select>
        </div>
        <!--
        
        -->
         <!--
        <div class="mb-3">
            Receiver Phone
            <input asp-for="Delivery.Receiver.UserPhone" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            Receiver Address
            <input asp-for="Delivery.Receiver.UserAdrs1" class="form-control" readonly/>
            <input asp-for="Delivery.Receiver.UserAdrs2" class="form-control" readonly/>
        </div>
       
         <input type="text" name="ReceiverPhone" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="ReceiverAddr">Receiver Address</label>
            <input type="text" name="ReceiverAddr" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" class="form-control"/>       
        </div>
        <div class="mb-3">
            <label for="productQt">Product Quantity</label>
            <input type="number" name="productQt" class="form-control"/>       
        </div>
        -->
        
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px;">Back to List</a>  
     </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

<!--
    <script>
            $(function () {
                $("Delivery_ReceiverID").on("change", function () {
                    var receiver = $(this).val();
                    $.ajax({
                        url: `?handler=GetReceiverPhoneAddress&selectReceiver=${receiver}`, 
                        type: 'Get', 
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (result) {
                            var manager = [];
                            var JobNum = [];
                            $.each(result, function (i, item) {
                                manager.push(item.manager);
                                JobNum.push(item.jobNum);
                            }); 
                            $("#py21_Manager").val(manager.join(","));
                            $("#py21_JobNum").val(JobNum.join(","));
                        }, 
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
        </script>

    <div class="iqdropdown">
          <p class="iqdropdown-selection"></p>
          <div class="iqdropdown-menu">
            <div class="iqdropdown-menu-option" data-id="item1">
              <div>
                <p class="iqdropdown-item">Item 1</p>
                <p class="iqdropdown-description">A short description</p>
              </div>
            </div>
            <div class="iqdropdown-menu-option" data-id="item2">
              <div>
                <p class="iqdropdown-item">Item 2</p>
                <p class="iqdropdown-description">A short description</p>
              </div>
            </div>
            <div class="iqdropdown-menu-option" data-id="item3">
              <div>
                <p class="iqdropdown-item">Item 3</p>
                <p class="iqdropdown-description">A short description</p>
              </div>
            </div>
          </div>
        </div>
-->
