@page
@using ZeroHunger.Model
@model ZeroHunger.Pages.Deliveries.CreateModel


<form method="post>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Delivery Request</h2>
            <hr/>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <!--<label asp-for="Delivery.User.UserID"></label>-->
            Volunteer Name
            <select asp-for="Delivery.User.UserID"  asp-items="Model.Volunteer" class="form-control">
            <!--<select asp-for="SelectedVolunteerID" asp-items="List<SelectListItem>(ViewData['Items'])">-->
            <option>--Select the volunteer--</option>
            </select>
         </select>
        </div>
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryTime"></label>
            <input asp-for="Delivery.DeliveryTime" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Delivery.DeliveryStatus"></label>
            <select class="form-control" asp-for="Delivery.DeliveryStatus" asp-items="Html.GetEnumSelectList<DeliveryStatus>()"></select>
        </div>
        <div class="mb-3">
            <label for="ReceiverName">Receiver Name</label>
            <input type="text" name="ReceiverName" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="ReceiverPhone">Receiver Phone</label>
            <input type="text" name="ReceiverPhone" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="ReceiverAddr">Receiver Address</label>
            <input type="text" name="ReceiverAddr" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="productName">Product Name</label>
            <input type="text" name="productName" class="form-control"/>       
        </div>
        <div class="mb-3">
            <label for="productQt">Product Quantity</label>
            <input type="number" name="productQt" class="form-control"/>       
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px">Back to List</a>  
     </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
