@page
@model ZeroHunger.Pages.Deliveries.EditDeliveryItemModel

<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="OriID" value="@Model.OriDeliveryItem.ItemID" />
        <div class="mb-3">
        Delivery Item
        <select id="deliveryitem" asp-for="DeliveryItem.DryFoodID" asp-items="Model.DeliveryItemList" class="form-control" required>
            <!--<option>--Select Delivery Item--</option>-->
        </select>
        </div>
        <div class="mb-3">
            Quantity
            <input id="quantity" asp-for="DeliveryItem.Quantity" min="1" class="form-control" required/>
        </div>
         <button type="submit" class="btn btn-primary form-control" style="width:180px;">Edit Delivery Item</button>
         <a asp-page="DeliveryItem" asp-route-id="@Model.DeliveryItemID" class="btn btn-secondary form-control" style="width:150px;">Back to List</a> 
    </div>
</form>

<!--
    <button type="submit" class="btn btn-primary form-control" style="width:180px;">Edit Delivery Item</button>
        <a asp-page="DeliveryItem" class="btn btn-secondary form-control" style="width:150px;">Back to List</a>
-->
