@page
@model ZeroHunger.Pages.Deliveries.IndexModel

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-8">
            <h2>Manage Delivery Request</h2>
        </div>
        <div class="col-4">
            <a asp-page="Create" class="btn btn-info">
                <i class="bi bi-pencil-square"></i> &nbsp; Create New Delivery Request
            </a>
        </div>
    </div>  
</div>
<br/><br/>

    <table id="Delivery_load" class="table table-bordered table-striped" style="text-align:center">
    <thead>
        <tr>
            <th>
                Volunteer Name
            </th>
            <th width="11%">
                Delivery Time
            </th>
            <th>
                Delivery Status
            </th>
             <th>
                Receiver Name
            </th>
            <th>
                Receiver Phone
            </th>
            <th width="15%">
                Receiver Address
            </th>
            <th width="13%">
                Delivery Item
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>         


@section Scripts{
    @{
        <script src="~/js/DeliveryList.js"></script>
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
