@page
@model ZeroHunger.Pages.Deliveries.VolunteerDeliveryModel

<partial name="_Notification"/>

<div class="container p=3">
    <div class="row pt-4">
        <div class="col-9">
            <h2>Delivery Request</h2>
        </div>
    </div>
</div>

<br/><br/>

<table id="volunteer_load" class="table table-bordered table-striped w-auto" style="text-align:center">
    <thead>
        <tr>
            <th>
                Delivery ID
            </th>
            <th>
                Receiver Name
            </th>
            <th>
                Receiver Phone
            </th>
            <th>
                Receiver Address
            </th>
            
            <th>
                Delivery Time
            </th>
            <th>
                Delivery Status
            </th>
            <th>
               Delivery Item
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/VolunteerDelivery.js"></script>
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}




