/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#CookFoodContainer
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#list {
    display: flex;
    flex-direction:column;
    flex: 1 0 21%;
    margin: 5px 5px 5px 25px;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    width: fit-content;
}
#cookfooditem {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    
}
#itemInfo {
    border: 1px solid black;
    padding: 15px 15px 15px 15px;
    display: flex;
    margin: 15px 15px 15px 15px;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 15px;
    width: 100%;
    background-image: url("../img/food.png");
    background-size: cover;
    background-position-y:30%;

    background-repeat: no-repeat;
}
#itemInfo:hover
{
    background-color:aquamarine;
    cursor:pointer;
}
#itemName {
    margin: 0px 5px 5px 5px;
    font-weight:bold;
    background-color: transparent;
}
#itemQuantity {
    margin: 0px 5px 5px 5px;
    font-weight: bold;
    background-color: transparent;
}
.itemDistance {
    margin: 0px 5px 5px 5px;
    background-color: transparent;
}
#itemContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
    
}
#vckBut {
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
}
.promptContainer {
    display:none;
    width: 75%;
    min-width:25%;
    top: 50%;
    left: 50%;
    max-width: fit-content;
    padding: 20px 20px 20px 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    flex-direction: column;
    z-index:1;
    background-color:white;
    border:2px solid black;
    
}

.promptTitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.tableLeft {
    text-align: left;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

#reservedBut {
    margin-top: 20px;
    background-color: unset;
}
