@page
@model ZeroHunger.Pages.DeliveryHistoryModel
@{
    var i = 0;
    var count = 0;
}
<head>
    
    <style>
        .deliveryitem{
            background-color:white;
            box-shadow: 4px 3px 8px 1px #969696;
  	        -webkit-box-shadow: 4px 3px 8px 1px #969696;
            width:60%;
            height:fit-content;
            padding:10px;
            border-radius: 25px;
            margin:10px;
            text-align:center;

        }
        
        .major{
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
           align-content:center;
           align-items:center;
        }
       
        span{
            
            font-family:'Comic Sans MS';
            font-weight:bold;
            color:black;

        }
        
        h5{
            font-family: 'Arial Rounded MT';
            
        }
        h1{
            font-family: 'Arial Rounded MT';
            font-weight:bold;
            color:#0d98ba;
            text-align:center;
        }
    </style>
</head>
<body>


            <h1 class="text-primary">Delivery History</h1>



    <div class="major" >

        @if (!Model.deliveryList.Any())
            {
            <br />
            <p style="font-size:30px">No Delivery History</p><br />
        } else {

            @foreach (var obj in Model.deliveryList) {

                @if (i != 0 && obj.DeliveryStatus.ToString()!="Rejected")
                {
                    <div class="deliveryitem">
                        <h5>Reference ID - @obj.DeliveryID</h5>
                        @if (obj.DeliveryStatus.ToString() == "Incomplete")
                        {
                            <span style="font-size:30px;">On the way...</span><br>
                        }else if (obj.DeliveryStatus.ToString() == "Complete")
                        {
                            <span style="font-size:30px;">Delivered</span><br>
                        }else if (obj.DeliveryStatus.ToString() == "Pending") {
                            <span style="font-size:30px;">Pending...</span><br>
                        }

                        <p>Delivery Time: @obj.DeliveryTime </p><br>


                    </div>
                    count++;

                }

                i += 1;

            }
            if (count == 0)
            {
                <br />
            <p style="font-size:30px">No Delivery History</p><br />
            }
        }
       

      
    </div>
</body>
