@page
@model ZeroHunger.Pages.RegisterDonorModel
@{
<head>
	<meta charset="utf-8">
	<title>Form-v10 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="css/style2.css"/>
	<script language="javascript">
		function validateEmail(email)
		{
			
			var dobEmail=email.substring(0,2)+"-"+ic.substring(2,4)+"-"+ic.substring(4,6)+" 08:00";
			const dob=new Date(dobString);
			if(dob=="Invalid Date")
			{
				alert("Please re-check your IC Number");
			}
			document.getElementsByName("receiverDOB")[0].value=dob.toISOString().substr(0, 10);
		}
		function submit()
		{
			if(document.getElementsByName("receiverFamilyNo")==0)
			{
				alert("The application is submitted. An email will be sent to you when the application is approved.")
			}
		}
	</script>
</head>
<body class="form-v10">
	
	<div class="page-content" style="display:block; padding:50px;">
		<div style="width:100%; text-align: center;"><h1>Applying Donor Account</h1></div>
		<div class="form-v10-content" style="width:90%;margin:20px auto 20px auto;">
		<h5 style="color:red;">@Model.message</h5>
			<form class="form-detail" method="post" id="myform">
				<div class="form-left">
					<h2>General Infomation</h2>
					<div class="form-row" >
						<select >
						    <option class="option" value="donorType">Your Donation Type</option>
						    <option class="option" value="Dry">Dry Food</option>
						    <option class="option" value="Cook">Cooked Food</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" asp-for="fName"  class="input-text" placeholder="First Name" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" asp-for="lName" class="input-text" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-row">
						<input type="password" asp-for="user.UserPwd" placeholder="Password" required>
					</div> 
					<div class="form-row">
						<input type="text" asp-for="user.UserEmail" class="email" id="email" placeholder="Email" required>
					</div> 
					<div class="form-row">
						<input type="date" asp-for="user.UserBirth"  placeholder="BirthDate"  required>
						</div>
					<div class="form-row">
						<input type="text" name="business" class="" id="business" placeholder="Business Name" required>
					</div> 
				</div>

				<div class="form-right">
					<h2>Contact Details</h2>
					<div class="form-row">
						<input type="text" asp-for="add1" class="street" id="add1" placeholder="Address 1" required>
					</div>
					<div class="form-row">
						<input type="text" asp-for="add2" class="additional" id="add2" placeholder="Address 2" required>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" asp-for="zip" class="zip" id="zip" placeholder="Zip Code" required>
						</div>
						<div class="form-row form-row-2">
						<input type="text" asp-for="city" class="zip" id="zip" placeholder="City" required>
							<!--<select name="district">
							    <option value="place">Place</option>
							    <option value="Street">Street</option>
							    <option value="District">District</option>
							    <option value="City">City</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>-->
						</div>
					</div>
					<div class="form-row">
						<select asp-for="state" required>
							<option value="state" disabled selected>State</option>
						    <option value="Johor">Johor</option>
							<option value="others">Others</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" asp-for="code" class="code" id="code" placeholder="Code +" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" asp-for="phone" class="phone" id="phone" placeholder="Phone Number" required>
						</div>
					</div>
					<!--div class="form-row">
						<input type="text" name="your_email" id="your_email" class="input-text"  placeholder="Your Email">
					</div-->
					<div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last ">
						<input type="submit" class="register" value="Register">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>

}
