@page
@model ZeroHunger.Pages.ResetPasswordModel
@{
	
    <head>
  	<title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
	<style>
	.pwd{
	position: relative;
}
.p-viewer {
	z-index: 9999;
	position: absolute;
	top: 20%;
	right: 10px;
}

	</style>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
	<section class="">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-2">
				<br>
					<h2 class="heading-section"><b>Reset Password</b></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
				   
		      	<!--h3 class="text-center mb-4">Have an account?</h3-->
						<form method="post" class="login-form" id="resetPwd">
						<div class="text-danger" asp-validation-summary="ModelOnly"></div>
						<br>
						<span style="font-size:x-small;">include 6-20 characters, 1 numeric digit, 1 uppercase and 1 lowercase letter</span>

            <input asp-for="id" type="hidden" />
		      		<div class="form-group pwd d-flex">
					  <label asp-for="password" style="display:none;"></label>
					  
		      		<input type="password" id="pwd1" class="form-control rounded-left" placeholder="New Password" style="width:350px" required>
					   <span class="p-viewer">
					<i class="fa fa-eye" aria-hidden="true" id="togglePassword1"></i>
				</span>
					</div>
					<span class="text-danger" asp-validation-for="forgotUser.UserPwd"></span>
	            <div class="form-group d-flex pwd">
				<label asp-for="password" style="display:none;"></label>
				
	              <input type="password" asp-for="password" id="pwd2" class="form-control rounded-left" placeholder="Confirm New Password" style="width:350px" required>
	            <span class="p-viewer">
					<i class="fa fa-eye" aria-hidden="true" id="togglePassword2"></i>
				</span>
                  </div>
				<span class="text-danger" asp-validation-for="forgotUser.UserPwd"></span>
	            <div class="form-group">
				<ul id="error" style="color: red;">
		        </ul>
	            	 <input type="submit" value="Reset Password" class="btn btn-primary form-control" />
					 @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
        </script>
    }
	            </div>
	          </form>
			  <script type="text/javascript">
    var togglePassword = document.querySelector('#togglePassword1');
    var password = document.querySelector('#pwd1');
    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

	var togglePassword2 = document.querySelector('#togglePassword2');
    var password2 = document.querySelector('#pwd2');
    togglePassword2.addEventListener('click', function (e) {
        const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
        password2.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script> 
			  <script>
function CheckPassword() {
    var inputpwd1 = document.getElementById("pwd1").value;
	var inputpwd2 = document.getElementById("pwd2").value;
    var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
	if(inputpwd1==(inputpwd2)){
    if (inputpwd2.match(passw) && inputpwd1.match(passw)) {
        return true;
    }
    else {
        return false;
    }
	}
	else{
		return false;
	}
}

$("#resetPwd").submit(
function(event){
    if( document.getElementById("pwd1").value=="" ||document.getElementById("pwd2").value=="" || !CheckPassword()){
		var ul =document.getElementById("error");
		while(ul.hasChildNodes()){
			ul.removeChild(ul.firstChild);
		}
        var li = document.createElement("li");
        li.appendChild(document.createTextNode("Password should have 6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter."));
        ul.appendChild(li);
		event.preventDefault();    
    }
    
	else{
        
    }
});

</script>
	        </div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
		</body>
	}
