@page
@model ZeroHunger.Pages.ProductInNeedList.UpdateModel
@{
    ViewData["Title"] = "Update";
    var photopath="~/images/"+Model.product.image;
}
<head>
    <link type="text/css" href="~/css~/css/style-layout.css" />
</head>

<br />
<h2 class="text-info">Edit New Product</h2>
<br />
<div class="border container" style="padding:30px">
    <form method="Post" class="form-v10-content" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="product.product_id">Product ID</label>
            </div>
            <div class="col-6">
                <input asp-for="product.product_id"  class="form-control" readonly />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="product.product_name">Product Name</label>
            </div>
            <div class="col-6">
                <input asp-for="product.product_name" class="form-control" required />
            </div>
            <span asp-validation-for="product.product_name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="product.product_description">Product Description</label>
            </div>
            <div class="col-6">
                <input asp-for="product.product_description" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="product.amount">Amount</label>
            </div>
            <div class="col-6">
                <input asp-for="product.amount" class="form-control" required />
            </div>
            <span asp-validation-for="product.amount" class="text-danger"></span>
        </div>
        
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="product.visibility">Visibility</label>
            </div>
            <div class="col-6">
                <select asp-for="product.visibility" class="form-control" required>
                    <option selected value="Visible">Visible</option>
                    <option value="Invisible">Invisible</option>
                </select>
            </div>
            <span asp-validation-for="product.visibility" class="text-danger"></span>
        </div>
        <input asp-for="product.image" type="hidden"/>
        <div class="form-group row">
            <div class="col-4">
                <label>New Image</label>
            </div>
            <div class="col-6">
                <input asp-for="ImageFile" class="custom-file-input" accept="image/*" >
                <label class="custom-file-label">Upload New Image (Optional)</label>
            </div>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        
        <div class="form-group row">
            <div class="col-4">
                <label>Image In Database</label>
            </div>
            <div class="col-6">
                <img class="imageThumbnail"  src="@photopath" asp-append-version="true"/>
            </div>
            
        </div>

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">
                    Back to List
                </a>
            </div>
        </div>


        
    </form>
</div>
<div></div>

@section Scripts{
    <partial-name ="_ValidationScriptsPartial" />
        <script>
        $document.ready(function(){
           $('.custom-file-input').on("change",function(){
                var filename=$(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
           }); 
        });
        </script>
   
    
}
